body{background-image: url("../img/papel.JPG");}
.container {
    background-color: #BFC3C4;
    width: 1000px;
}


.fondo {
    background-image: url("../img/purpurina.jpg");
    padding-top: 15px;
    padding-bottom: 15px;
}
.intro{
    font-size: 22px;
    margin-bottom: 3%;
}
.menu{
    margin-top: 5%;
    margin-left: 28%;
    margin-bottom: 5%;

}
.fotos{
    margin-bottom: 10%;

}

